@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  color: #fff;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

.container-fluid-1{
  padding: 0px;
}


.footer-section-container-fluid{
  background: #000;
}

.footer-row-one-content{
  margin-bottom: 30px;
}